<div data-role="Header" class="header-header">
  <nav class="header-nav">
    <div class="header-container">
      <a routerLink="/" class="header-navlink Large">Hasugue</a>
      <div class="header-menu">
        <a routerLink="/" class="header-navlink1 Large">Home</a>
        <a routerLink="/profile" class="header-navlink2 Large">Profile</a>
        <a routerLink="/coming-soon" class="header-navlink3 Large">
          Coming Soon
        </a>
      </div>
      <div class="header-container1">
        <div class="header-container2">
          <primary-pink-button button="Contactanos"></primary-pink-button>
        </div>
        <div data-role="BurgerMenu" class="header-burger-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </nav>
  <div data-role="MobileMenu" class="header-mobile-menu">
    <div class="header-top">
      <a routerLink="/" class="header-navlink4 Large">Hasugue</a>
      <div data-role="CloseMobileMenu" class="header-close-menu">
        <svg viewBox="0 0 1024 1024" class="header-icon2">
          <path
            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="header-mid">
      <div class="header-menu1">
        <a routerLink="/" class="header-navlink5 Large">Home</a>
        <a routerLink="/profile" class="header-navlink6 Large">Profile</a>
        <a routerLink="/coming-soon" class="header-navlink7 Large">
          Coming Soon
        </a>
      </div>
    </div>
    <div class="header-bot">
      <primary-pink-button button="Contactanos"></primary-pink-button>
    </div>
  </div>
</div>
